@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
<div class="container-fluid my-4 ">
    <div class="my-5">
        <p class="h5 row justify-content-center font-weight-bolder">Ваш номер заказа @Model</p>
        <p class="h6 row justify-content-center font-weight-bolder">Информация о заказе отправлена на указанную почту</p>
        <div class="row justify-content-center my-5">
            <a class="align-content-center btn btn-success" href="/Home/Index">На главную</a>
        </div>
    </div>
</div>