@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container my-4 justify-content-center">
    <h2>Личный кабинет</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

</div>

    @RenderSection("Scripts", required: false)
