@model CreateGoodsViewModel


<h4 class="mt-4 mb-2">Добавление товара</h4>
<hr />

@*<div id="errorInputBlock" class="alert alert-danger fade" role="alert">
    <span id="errorInputMessage"></span>
</div>*@

<div class="row ">
    <div class="col-lg-7">
        <form method="post" enctype="multipart/form-data">

            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-sm-2 my-3">
                    <label asp-for="Goods.Code" class="control-label"></label>
                    <input id="inputCode" asp-for="Goods.Code" class="form-control" min="10" max="99999999" />
                    <div id="inputCodeErrorMessage" class="fade">
                        <p class="text-danger"><small>Товар с данным кодом уже имеется</small></p>
                    </div>
                    <span asp-validation-for="Goods.Code" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2 my-3">
                    <label asp-for="Goods.Amount" class="control-label"></label>
                    <input asp-for="Goods.Amount" class="form-control" min="0" max="1000" />
                    <span asp-validation-for="Goods.Amount" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2 my-3">
                    <label asp-for="Goods.Price" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Goods.Price" class="form-control" min="0" max="1000000">
                        <div class="input-group-append">
                            <span class="input-group-text">₴</span>
                        </div>
                    </div>
                    <span asp-validation-for="Goods.Price" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6 my-3">
                    @if (@Model?.Groups != null)
                    {
                        <label asp-for="Goods.Group" class="control-label"></label>
                        <select class="custom-select" asp-for="Goods.Group.Id" asp-items='@new SelectList(Model.Groups, "Id", "Name")'></select>
                        <span asp-validation-for="Goods.Group" class="text-danger"></span>
                    }
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Goods.Name" class="control-label"></label>
                <input asp-for="Goods.Name" class="form-control" />
                <span asp-validation-for="Goods.Name" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Goods.ShortDescript" class="control-label"></label>
                <textarea asp-for="Goods.ShortDescript" class="form-control"></textarea>
                <span asp-validation-for="Goods.ShortDescript" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Goods.Descript" class="control-label"></label>
                <textarea asp-for="Goods.Descript" class="form-control"></textarea>
                <span asp-validation-for="Goods.Descript" class="text-danger"></span>
            </div>



            <div id="charact-data"></div>

            @*@for (int i=0; i< Model.Properties.Count; i++)
                {
                    <label class="control-label">@Model.Properties[@i].Name</label>
                    <input type="text" name="Properties[@i].Value" class="form-control" />
                }*@

            @*<div class="form-group">
                    <label asp-for="Properties" class="control-label"></label>
                    <input asp-for="Properties" class="form-control" />
                    <span asp-validation-for="Properties" class="text-danger"></span>
                </div>*@

            <h5 class="mt-5 mb-2">Фото</h5>
            <hr />

            <div class="form-group">

                <div class="input-group my-3">
                    <div class="custom-file">
                        @*<div class="mb-1">
                                <button type="button" class="btn btn-light" id="button">Обзор...</button>
                            </div>*@

                        @*<input type="file" id="loader" multiple>*@

                        <input asp-for="Images" type="file" multiple="multiple" class="custom-file-input" id="images">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Загрузить...</label>

                    </div>
                </div>
            </div>



            <output id="picture-list">
            </output>


            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Goods.IsHidden" /> @Html.DisplayNameFor(model => model.Goods.IsHidden)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    @*<a asp-page="Index">Back to List</a>*@
</div>

