<p class="mt-4 mx-2">
    <a asp-action="Create" asp-controller="Goods" asp-route-area="StoreManage"><img src="~/images/icons/add-icon.png" width="32" height="32" /></a>
</p>

<div id="productTable">
    <partial name="_ProductsTable" model="@Model" />
</div>

@section Scripts{

    <script>
        $(function () {
            function interceptPaging() {
                $("#productTable .pagination a").click(function (event) {
                    event.preventDefault();

                    $.get($(this).attr("href"),
                        function (d) {
                            $("#productTable").html(d);
                            interceptPaging();
                        });
                });
            }

            interceptPaging();
         
        });
    </script>


}