@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждения email";
}

<div class="container my-5 justify-content-center">
    <div class="alert alert-success" role="alert">
         <h2 class="text-center">@ViewData["Title"]</h2> 
        <div>
            <p class="h5 text-center">
                Ваша почта была успешно подтверждена!
            </p>
        </div>
    </div>
</div>
