@page
@model LockoutModel
@{
    ViewData["Title"] = "Блокировка";
}

<header>
    <div class="container my-5 justify-content-center">
        <div class="alert alert-success" role="alert">
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">Этот аккаунт был заблокирован, попробуйте позже.</p>

        </div>
    </div>
</header>
