@page
@model LogoutModel
@{
    ViewData["Title"] = "Выход";
}

<header>

    <div class="container my-5 justify-content-center">
        <div class="alert alert-success" role="alert">
            <h1>@ViewData["Title"]</h1>
            <p>Вы успешно вышли из аккаунта.</p>
        </div>
    </div>
</header>