@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждения восстановления пароля";
}


<div class="container my-5 justify-content-center">
    <div class="alert alert-success" role="alert">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <p class="h5 text-center">
            Ваш пароль был восстановлен. <a class="alert-link" asp-page="./Login">Нажмите здесь для входа</a>
        </p>
    </div>
</div>