<div class="container text-center">
    <div class="mt-4 mb-3">
        <h1 class="display-6">Контакты</h1>
        <hr />

        <div class="text-center">
            <div class="my-5">
                <h6> Телефон</h6>
                <p class="h6 text-muted"> +38(097) 563 4323 </p>
                <p class="h6 text-muted"> +38(060) 459 7689 </p>
            </div>
            <div class="mb-5">
                <h6> Email</h6>
                <a class="h6 text-muted" href="mailto:giftshop.saless@gmail.com">giftshop.saless@gmail.com</a>
            </div>

            <div class="mb-5">
                <h6> Время работы</h6>
                <p class="h6 text-muted">Пн-Вс 10.00-20.00</p>
            </div>
        </div>
    </div>
</div>
