#content-block {
    min-height: 100vh;
}

.img-block-card {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.img-goods {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
}


.main-group-item-link {
    outline: none !important;
    text-decoration: none !important;
    display: inline-block;
    color: black;
}

.category-list:hover {
    background-color: forestgreen;
}

#loader {
    display: none;
}

#list > div {
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #eee;
    padding-right: 5px;
    padding-left: 5px;
}

.mb-1 {
    margin-bottom: 10px;
}

.goods-img {
    /*    position: relative;*/

    width: 30%;
    min-width: 100px;
    max-width: 250px;
}

#picture-list > div {
    position: relative;
    width: 100%;
}


    #picture-list > div > button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

.image-block {
    margin: 10px;
    display: inline;
}

    .image-block > .btn {
        visibility: hidden;
    }

@media all and (max-width: 580px) {
    .main-picture-box {
        position: relative;
        overflow: hidden;
        height: 300px;
    }
}

@media all and (min-width: 580px) {
    .main-picture-box {
        position: relative;
        overflow: hidden;
        height: 400px;
    }
}

@media all and (max-width: 580px) {
    .main-picture-box img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        max-width: 380px;
        max-height: 380px;
        margin: auto;
        transition: transform .4s ease-out;
    }

    .name-goods {
        height: 100px;
    }
}

@media all and (min-width: 580px) {
    .main-picture-box img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        max-width: 500px;
        max-height: 500px;
        margin: auto;
        transition: transform .4s ease-out;
    }
    .name-goods {
        height: 70px;
    }
}
 


.img-in-details {
    max-height: 400px;
}


