@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<a class="nav-link mt-3 mx-1" asp-action="UserList">
    <img src="~/images/icons/left-arrow.png" width="24"/>
</a>
@*<a class="btn btn-success" asp-action="UserList">Список пользователей</a>*@
<div class="row mt-4 mx-1">
    <div class="col-lg-6">
        <div class="row">
            <h2 class="col-4">Список ролей</h2>
            <a asp-action="Create" class="text-right col mx-2"><img src="~/images/icons/add-icon.png" width="32" height="32" /></a>
        </div>
        <table class="table table-hover">
            @foreach (var role in Model)
            {
                <tr class="align-middle">
                    <td>@role.Name</td>
                    <td class="text-right">
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger " @(role.Name == "Админ" || role.Name == "Admin" ? "hidden" : "")>
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
