@inject BLL.Services.IService<BLL.Models.GroupDTO> Groups

@{
    List<GroupDTO> categories = Groups.GetAll().Where(x => x.NumberAvailableGoods > 0 && x.IsHidden==false).ToList();
}

<div form-inline>
    <ul class="navbar-nav mr-auto bg-info">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Категории
            </a>
            <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuButton">

                @foreach (BLL.Models.GroupDTO group in categories)
                {
                    <a class="dropdown-item nav-link px-3 category-list " asp-action="Index" asp-controller="Goods" asp-route-area="ProductList" asp-route-groupId="@group.Id">
                        <img src="~/group_icon/@Url.Content(group.Icon)" width="20" />
                        @group.Name
                    </a>
                }
            </div>
        </li>
    </ul>
</div>