@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/images/icons/account.png" class="mx-2" />Личный кабинет</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Заказы</a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Настройки</a>
                    <div class="dropdown-divider"></div>
                    @*<a class="dropdown-item" href="#">Выход</a>*@
                    <button type="submit" class="btn btn-link nav-link dropdown-item mx-3">Выход</button>
                </div>
                @*<a class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="~/images/account.png" class="mx-2" />Личный кабинет</a>*@
                @*<a class="nav-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравствуйте, @UserManager.GetUserName(User)!</a>*@
            </li>
            @*<li>
                <button  type="submit" class="btn btn-link  nav-link">Выход</button>
            </li>*@
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>*@
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Личный кабинет</a></li>
    </ul>
}